resources/db/verse-embeddings.db filter=lfs diff=lfs merge=lfs -text
resources/db/*.db filter=lfs diff=lfs merge=lfs -text
resources/onnx/scripture-bge/model.onnx filter=lfs diff=lfs merge=lfs -text
resources/onnx/scripture-bge/model.onnx.data filter=lfs diff=lfs merge=lfs -text
resources/onnx/scripture-bge/onnx/model.onnx.data filter=lfs diff=lfs merge=lfs -text
resources/onnx/scripture-bge/* filter=lfs diff=lfs merge=lfs -text
