resources/db/verse-embeddings.db filter=lfs diff=lfs merge=lfs -text
resources/db/search-graph.db filter=lfs diff=lfs merge=lfs -text
resources/db/verse-summaries.db filter=lfs diff=lfs merge=lfs -text
resources/db/verse-graph.db filter=lfs diff=lfs merge=lfs -text
resources/db/verse-tags.db filter=lfs diff=lfs merge=lfs -text
resources/db/topical-guide.db filter=lfs diff=lfs merge=lfs -text
